* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

/* Workspaces */
#workspaces {
    background-color: #1e1e2e;
    margin: 5px 0 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
    border: 2px solid #11111b;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #6c7086;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #cba6f7; 
    font-weight: bold;
}

/* Hardware Group (CPU, Memory, Temp) */
#cpu, #memory, #temperature {
    background-color: #1e1e2e;
    color: #a6e3a1; 
    margin: 5px 0px;
    padding: 0px 10px;
    border-top: 2px solid #11111b;
    border-bottom: 2px solid #11111b;
}

#cpu {
    border-left: 2px solid #11111b;
    border-radius: 15px 0 0 15px; 
    margin-left: 15px;
}

#temperature {
    border-right: 2px solid #11111b;
    border-radius: 0 15px 15px 0; 
}

/* Clock (Center) */
#clock {
    background-color: #1e1e2e;
    color: #fab387;
    margin: 5px 0;
    padding: 0 15px;
    border-radius: 15px;
    border: 2px solid #11111b;
    font-weight: bold;
}

/* Right Side Modules */

/* Group Controls (Net, BT, Pulse) */
#network, #bluetooth, #pulseaudio {
    background-color: #1e1e2e;
    color: #89b4fa; /* Xanh dương */
    padding: 0 12px;
    margin: 5px 0;
    border-top: 2px solid #11111b;
    border-bottom: 2px solid #11111b;
}
#network {
    border-left: 2px solid #11111b;
    border-radius: 15px 0 0 15px;
}
#pulseaudio {
    border-right: 2px solid #11111b;
    border-radius: 0 15px 15px 0;
    margin-right: 10px;
}

/* Group Display (Nightlight, Backlight) */
#custom-nightlight, #backlight {
    background-color: #1e1e2e;
    color: #f9e2af; /* Vàng */
    padding: 0 12px;
    margin: 5px 0;
    border-top: 2px solid #11111b;
    border-bottom: 2px solid #11111b;
}
#custom-nightlight {
    border-left: 2px solid #11111b;
    border-radius: 15px 0 0 15px;
}
#backlight {
    border-right: 2px solid #11111b;
    border-radius: 0 15px 15px 0;
    margin-right: 10px;
}

/* Battery */
#battery {
    background-color: #1e1e2e;
    color: #a6adc8;
    margin: 5px 10px 5px 0;
    padding: 0 15px;
    border-radius: 15px;
    border: 2px solid #11111b;
}
#battery.charging, #battery.plugged {
    color: #a6e3a1;
}
#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Power Button */
#custom-power {
    background-color: #f38ba8; 
    color: #11111b;
    margin: 5px 10px 5px 0;
    padding: 0 15px;
    border-radius: 15px;
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
